@import url("https://fonts.google.com/specimen/Poppins");

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: #3c3caa;
    color: aliceblue;
}

::-moz-selection {
    background: #3c3caa;
    color: aliceblue;
}